* {
    box-sizing: border-box;
}

body {
    font-family: "Apple SD Gothic Neo";
    font-size: 14px;
    color: white;
}

h1 {
    padding: 10px;
    background-color: #495057;
    cursor: pointer;
}

.accordion-item-content {
    background-color: #c6c8ca;
    display: none;
}

.accordion-item.show .accordion-item-content {
    display: block;
    padding: 25px;
}

.accordion-item.show .accordion-item-header {
    background-color: #495079;
}

.show {
    display: block;
}



